@import "~/.config/rofi/config.rasi"

window {
    location: north west;
    anchor:   north west;
    x-offset: 2px;
    y-offset: 28px;
    width:    120px;
    border-radius: 2px;
    border: 2px;
    border-color: @accent;
    background-color: @background;
    padding: 0px;
}

listview {
    lines: 4;
    fixed-height: true;
    scrollbar: false;
    spacing: 4px;
}

element { padding: 4px 4px; }
element normal.normal,
element alternate.normal {
    background-color: @background;
    text-color: @foreground;
}

element selected.normal,
element selected.alternate {
    background-color: @accent;
    text-color: @background;
}
element-icon   { size: 0; vertical-align: 0.0; }
mainbox {
    children: [ listview ];
    padding: 1px;
    spacing: 1px;
}
